{% extends 'base.html.twig' %}



{% block title %}New Media{% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="text-center">
            <h1>Ajouter un Média</h1>
        </div>
        <a href="{{ path('media_index') }}">Retour à la liste des médias</a>
    </div>


    <div class="container">
        <div class="row">
            {{ include('media/_form.html.twig') }}
        </div>
    </div>



{% endblock %}
