{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="flex-column text-center">
            {{ form_start(searchProgramForm) }}
            <div class="mt-4"> {{ form_label(searchProgramForm.program)}}</div>
            <div class="mt-4">{{ form_widget(searchProgramForm.program) }} </div>
            <div class="btn mt-4">{{ form_end(searchProgramForm) }}</div>
        </div>
    </div>
{% include 'inc/_card_search.html.twig' %}
{% endblock %}